@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fuente por defecto para toda la página (Tipo consola de programación) */
  font-family: "Fira Code", monospace;
  color-scheme: dark;
}

/* Clase personalizada para meter los títulos pixelados estilo Arcade */
.font-arcade {
  font-family: "Press Start 2P", system-ui;
}